<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard Firma Cloud</title>
    <link rel="stylesheet" href="/styles/dashboard.css" />
    <script src="https://kit.fontawesome.com/042b518c98.js" crossorigin="anonymous"></script>

  </head>
  <body>
    <header>
      <nav>
        <div class="nav-container">
          <a href="../index.html" ><img src="../assets/logofirmaya.png" alt="Firmaya" width="200" height="50px"></a>
          <!-- Agregar más enlaces de navegación aquí si es necesario -->
          <div class="user-session">
            <a href="./perfil.html" class="links">Gabriel Díaz</a>
            <a href="../index.html" class="links">Cerrar Sesión</a>
          </div>
        </div>
      </nav>

      <section class="presentation-section">
        <h1>Bienvenido a su perfil Firmaya Cloud!!</h1>
        <p>administre cuentas y certificados</p>
      </section>
    </header>

    <main class="services-container">
      <div class="card-container">
        <div class="service-card" id="geologico-card">
          <h3>Geologico</h3>
          <div class="form-container" id="geologico-form">
            <form
              id="user-form"
              onsubmit="saveToLocalStorage(event)"
              onclick="event.stopPropagation()"
            >
              <input
                type="text"
                id="nit"
                name="nit"
                placeholder="Ingrese el NIT"
                required
              />
              <input
                type="text"
                id="razon-social"
                name="razon_social"
                placeholder="Ingrese la Razón Social"
                required
              />
              <button type="submit">Crear usuario</button>
            </form>
          </div>
        </div>
      </div>

      <div class="card-container">
        <div class="service-card">
          <h3>Ugpp</h3>
          <!-- Contenido de Ugpp aquí -->
        </div>
      </div>

      <div class="card-container">
        <div class="service-card" id="runt-card">
          <h3>Runt</h3>
          <div class="runt-info-container">
            <div class="contract-info" id="contract-2023001">
              <div class="contract-header" onclick="toggleDetails(this)">
                <p>Contrato 2023001</p>
                <span class="status-icon green-check">✓</span>
              </div>
              <div class="contract-details">
                <p>Nombre: runt2023-11</p>
                <p>Vigencia: 01-01-2025</p>
                <table>
                  <tr>
                    <th>Servicios</th>
                    <th>Cantidad</th>
                  </tr>
                  <tr>
                    <td>Padres</td>
                    <td contenteditable="true">1000</td>
                  </tr>
                  <tr>
                    <td>Otp</td>
                    <td contenteditable="true">500</td>
                  </tr>
                </table>
                <button
                  onclick="event.stopPropagation(); saveDetails('contract-2023001')"
                >
                  Guardar
                </button>
                <p> escoja el periodo de su reporte :</p>
                <div class="date-selector">
    <div class="date-field">
        <label for="month-select">Mes:</label>
        <select name="month" id="month-select">
            <option>enero</option>
            <option>febrero</option>
            <option>Marzo</option>
        </select>
    </div>
    <div class="date-field">
        <label for="year-select">Año:</label>
        <select name="year" id="year-select">
            <option>20203</option>
            <option>2024</option>
            <option>2025</option>
        </select>
    </div>
</div>
<button class="download-report">Descargar Reporte <i class="fa-solid fa-file-excel"></i></button>
              </div>
            </div>

            <div class="contract-info" id="contract-2022001">
              <div class="contract-header" onclick="toggleDetails(this)">
                <p>Contrato 2022001</p>
                <span class="status-icon red-x">✗</span>
              </div>
              <div class="contract-details">
   
                <p>Nombre: runt2023-11</p>
                <p>Vigencia: 01-01-2025</p>
                <table>
                  <tr>
                    <th>Servicios</th>
                    <th>Cantidad</th>
                  </tr>
                  <tr>
                    <td>Pades</td>
                    <td contenteditable="true">0</td>
                  </tr>
                  <tr>
                    <td>Otp</td>
                    <td contenteditable="true">0</td>
                  </tr>
                </table>
                <button
                  onclick="event.stopPropagation(); saveDetails('contract-2023001')"
                >
                  Guardar
                </button>
                <p> escoja el periodo de su reporte :</p>
                <div class="date-selector">
    <div class="date-field">
        <label for="month-select">Mes:</label>
        <select name="month" id="month-select">
            <option>enero</option>
            <option>febrero</option>
            <option>Marzo</option>
        </select>
    </div>
    <div class="date-field">
        <label for="year-select">Año:</label>
        <select name="year" id="year-select">
            <option>20203</option>
            <option>2024</option>
            <option>2025</option>
        </select>
    </div>
</div>
<button class="download-report">Descargar Reporte <i class="fa-solid fa-file-excel"></i></button>
              </div>
            </div>

            <div class="contract-info" id="contract-20221001">
              <div class="contract-header" onclick="toggleDetails(this)">
                <p>Contrato 20221001</p>
                <span class="status-icon red-x">✗</span>
              </div>
              <div class="contract-details">
                
                <p>Nombre: runt2023-11</p>
                <p>Vigencia: 01-01-2025</p>
                <table>
                  <tr>
                    <th>Servicios</th>
                    <th>Cantidad</th>
                  </tr>
                  <tr>
                    <td>Pades</td>
                    <td contenteditable="true">0</td>
                  </tr>
                  <tr>
                    <td>Otp</td>
                    <td contenteditable="true">0</td>
                  </tr>
                </table>
                <button
                  onclick="event.stopPropagation(); saveDetails('contract-2023001')"
                >
                  Guardar
                </button>
                   <p> escoja el periodo de su reporte :</p>
                <div class="date-selector">
               
    <div class="date-field">
        <label for="month-select">Mes:</label>
        <select name="month" id="month-select">
            <option>enero</option>
            <option>febrero</option>
            <option>Marzo</option>
        </select>
    </div>
    <div class="date-field">
        <label for="year-select">Año:</label>
        <select name="year" id="year-select">
            <option>20203</option>
            <option>2024</option>
            <option>2025</option>
        </select>
    </div>
</div>
<button class="download-report">Descargar Reporte <i class="fa-solid fa-file-excel"></i></button>
              </div>
            </div>

            <div class="contract-info" id="contract-2020200">
              <div class="contract-header" onclick="toggleDetails(this)">
                <p>Contrato 2020200</p>
                <span class="status-icon red-x">✗</span>
              </div>
              <div class="contract-details">
                <p>Nombre: runt2023-11</p>
                <p>Vigencia: 01-01-2025</p>
                <table>
                  <tr>
                    <th>Servicios</th>
                    <th>Cantidad</th>
                  </tr>
                  <tr>
                    <td>Pades</td>
                    <td contenteditable="true">0</td>
                  </tr>
                  <tr>
                    <td>Otp</td>
                    <td contenteditable="true">0</td>
                  </tr>
                </table>
                <button
                  onclick="event.stopPropagation(); saveDetails('contract-2023001')"
                >
                  Guardar
                </button>
                <p> escoja el periodo de su reporte :</p>
                <div class="date-selector">
    <div class="date-field">
        <label for="month-select">Mes:</label>
        <select name="month" id="month-select">
            <option>enero</option>
            <option>febrero</option>
            <option>Marzo</option>
        </select>
    </div>
    <div class="date-field">
        <label for="year-select">Año:</label>
        <select name="year" id="year-select">
            <option>20203</option>
            <option>2024</option>
            <option>2025</option>
        </select>
    </div>
</div>
<button class="download-report">Descargar Reporte <i class="fa-solid fa-file-excel"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
  <div class="footer-container">
    <div class="footer-section">
      <h4>Información de Contacto</h4>
      <p>📞 601 405 00 82</p>
      <p>📍 Carrera 7 # 77-07 Ofc 701</p>
      <p>🌐 Bogotá - Colombia</p>
    </div>
    <div class="footer-section">
      <h4>Información Comercial</h4>
      <p>📧 comercial@colfactura.com</p>
      <p>🕒 Horario de atención: Jornada continua</p>
      <p>📅 Lunes a viernes 7:00 a.m. - 6:30 p.m.</p>
      <p>Sábado y Domingos 8:00 a.m. - 10:00 p.m.</p>
    </div>
    <div class="footer-section">
      <h4>Soporte técnico</h4>
      <p>📧 soporte@gse.com.co</p>
      <p>🕒 Horario de atención: Jornada continua</p>
      <p>📅 Lunes a viernes 7:00 a.m. - 7:00 p.m.</p>
      <p>Sábado y Domingos 8:00 a.m. - 6:00 p.m.</p>
    </div>
    <div class="footer-logo">
      <img src="../assets/logofirmaya.png" alt="Firmaya">
    </div>
  </div>
  <div class="footer-bottom">
    <p>Política de tratamiento de datos | Términos y condiciones</p>
    <p>Copyright © 2021 GSE – Firmaya Firma digital / Resolución 3354 del 19 de junio de 2021 – Proveedor Tecnológico Autorizado DIAN</p>
  </div>
</footer>
  </body>
  <script src="/scripts/dashboard.js"></script>
</html>
