/* Estilos Generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1C1C1C;
    max-width: 100%;
    overflow-x: hidden;
}

/* Estilos para la barra de navegación */
nav {
    background-color: #1C1C1C;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px 15px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}

nav a:hover {
    background-color: #cc5200;
    color: #000000;
}

.user-session {
    display: flex;
    align-items: center;
    gap: 10px;
}

.presentation-section {
    background: linear-gradient(to right, #1C1C1C 30%, #ff7f00 300%);
    color: white;
    padding: 180px 20px;
    text-align: center;
    margin-top: -60px;
    position: relative;
    z-index: 10;
}

main {
    padding: 60px 20px;
}

.presentation-section h1 {
    font-size: 2.5em;
    margin-top: 4rem;
    margin-bottom: 0.5em;
}

.presentation-section p {
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
}

.services-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    margin: 0 20px;
    flex-wrap: wrap;
}

.card-container {
    flex: 1;
    margin: 10px;
    min-height: 100px;
}

.service-card {
    background-color: #232323;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-card h3 {
    margin: 0;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.form-container, .contract-details{
    display: none; 
    overflow: hidden;
    transition: max-height 0.3s ease-out, display 0s ease 0.3s;
    max-height: 0; 
}

#user-form {
    text-align: center;
    color: #fff;
}

#user-form input {
    background-color: #222;
    border: 1px solid #555;
    color: #fff;
    margin: 10px 0;
    padding: 8px;
    width: calc(100% - 20px);
    box-sizing: border-box;
}

#user-form button {
    background-color: #ff7f00;
    border: none;
    color: #fff;
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#runt-info-container {
  display: none; 
  margin-top: 20px;
}

.contract-info {
  background-color: #232323;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.status-icon {
  font-size: 1.2em;
}

.green-check {
  color: green;
}

.red-x {
  color: red;
}

.contract-details {
  background-color: #232323; 
  color: white; 
  border: 1px solid white; 
  padding: 10px;
  margin-top: 10px; 
  display: none; 
  overflow: hidden; 
  transition: max-height 0.3s ease-out; 
  max-height: 0; 
}

.contract-details.expanded {
  max-height: 500px; 
}

.contract-details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.contract-details th, .contract-details td {
  border: 1px solid #fff; 
  padding: 10px; 
  text-align: left;
}

.contract-details td[contenteditable="true"]:focus {
  background-color: #333;
  outline: none;
}

@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
    }
    
    nav a {
        padding: 8px;
        text-align: center;
        width: 100%;
        display: block;
    }

    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .service-card {
        width: 90%;
        margin: 10px 0;
    }
}
