/* Estilos Generales */
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #1c1c1c;
  max-width: 100%;
  overflow-x: hidden;
}

/* Estilos para la barra de navegación */
nav {
  background-color: #1c1c1c;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  border-radius: 20px;
}

nav .links:hover {
  background-color: #cc5200;
  color: #000000;
}

.user-session {
  display: flex;
  align-items: center;
  gap: 10px;
}

.presentation-section {
  background: linear-gradient(to right, #1c1c1c 30%, #ff7f00 300%);
  color: white;
  padding: 180px 20px;
  text-align: center;
  margin-top: -60px;
  position: relative;
  z-index: 10;
}

main {
  padding: 60px 20px;
}

.presentation-section h1 {
  font-size: 2.5em;
  margin-top: 4rem;
  margin-bottom: 0.5em;
}

.presentation-section p {
  font-size: 1.2em;
  max-width: 600px;
  margin: auto;
}

.nav-logo img {
  width: 200px; /* Ajuste en el tamaño del logo */
  margin: auto; /* Centra el logo horizontalmente */
      margin-left: 25%;

}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra las tarjetas */
    padding: 40px 20px;
    min-height: 300px;
}

.card-container {
    margin: 10px;
    flex-basis: calc(33% - 20px); /* Ajusta el ancho de las tarjetas */
    box-sizing: border-box;
}

.service-card {
    background-color: #292929; /* Fondo más claro */
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
    display: flex;
    flex-direction: column; /* Organiza el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
}

.service-card h3 {
    margin-bottom: 15px; /* Espacio debajo del título */
    font-size: 1.5rem; /* Tamaño de fuente más grande para el título */
}

/* Estilos para formularios y entradas */
.form-container form {
    width: 100%; /* Asegura que el formulario ocupe todo el ancho de la tarjeta */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container input {
    width: 90%; /* Ancho relativo para los campos de entrada */
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #222;
    color: #ddd;
    font-size: 1rem;
}

.form-container button {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ff7f00; /* Color naranja */
    color: white;
    cursor: pointer;
    font-size: 1rem;
}
.contract-details {
  z-index: 4;
  display: none; /* Oculto por defecto */
  overflow: hidden;
  transition: max-height 0.3s ease-out, display 0s ease 0.3s;
  max-height: 0; /* Colapsado inicialmente */
}

#user-form {
  text-align: center;
  color: #fff;
}

#user-form input {
  background-color: #222;
  border: 1px solid #555;
  color: #fff;
  margin: 10px 0;
  padding: 8px;
  width: calc(100% - 20px);
  box-sizing: border-box;
}

#user-form button {
  background-color: #ff7f00;
  border: none;
  color: #fff;
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#runt-info-container {
  width: 100%;
  display: none; /* Oculto por defecto */
  margin-top: 20px; /* Añade más espacio en la parte superior */
}

.contract-info {
  position: relative;
    z-index: 4;
  background-color: #232323;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column; /* Cambia a flex-direction: column */
  align-items: flex-start; /* Alinea los detalles a la izquierda */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.status-icon {
  font-size: 1.2em;
}

.green-check {
  color: green;
}

.red-x {
  color: red;
}

.contract-details {
  background-color: #232323;
  color: white;
  border: 1px solid white;
  padding: 10px;
  margin: 10px auto; /* Agregar margen a la derecha, izquierda y arriba, centrar horizontalmente */
  overflow: hidden;
  transition: max-height 0.3s ease-out, display 0s ease 0.3s;
  max-height: 0;
  width: 90%; /* Reducir el ancho al 90% */
  max-width: 600px; /* Establecer un ancho máximo */
}

.contract-details.expanded {
  max-height: 500px; /* Altura máxima cuando está expandido */
}
.contract-details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  display: block; /* Cambia a display: block */
}

.contract-details tr {
  display: block; /* Cambia a display: block */
  margin-bottom: 10px; /* Espaciado entre filas */
}

.contract-details th,
.contract-details td {
  border: 1px solid #fff;
  padding: 10px;
  text-align: left;
  width: 100%; /* Ajusta el ancho al 100% para ocupar todo el contenedor */
}

.contract-details td[contenteditable="true"]:focus {
  background-color: #333; /* Fondo más oscuro al editar */
  outline: none; /* Sin contorno al enfocar */
}

footer {
  background-color: #161616; /* Manteniendo el color de fondo */
  color: #fff;
  padding: 5px 25px; /* Ajuste en el padding para un diseño más espacioso */
  font-family: 'Arial', sans-serif;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidad */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* Alineación para que todas las secciones tengan la misma altura */
  flex-wrap: wrap;
  /* Max-width para contener mejor los elementos */
  margin: auto; /* Centrar el contenedor */
}

.footer-section {
  flex: 1;
  margin: 10px; /* Margen reducido para un mejor uso del espacio */
  padding: 10px; /* Padding aumentado para una mejor estética */
  display: flex;
  flex-direction: column; /* Hace que el contenido de cada sección se distribuya verticalmente */
  justify-content: space-between; /* Distribuye el espacio de manera uniforme */
  border-radius: 10px; /* Bordes redondeados */
  background: #161616; /* Fondo sutil para cada sección */
}

.footer-section h4 {
  color: #ff7f00; /* Color naranja para títulos, igual al botón de inicio de sesión */
  margin-bottom: 10px;
  font-size: 1.2em;
}

.footer-section p {
  line-height: 1;
  font-size: 0.95em;
}

.footer-logo {
  flex-basis: 100%; /* Toma todo el ancho en móviles */
  margin: 20px 0; /* Margen para separarlo de las otras secciones */
  text-align: center; /* Centra el contenido */
}

.footer-logo img {
  width: 200px; /* Ajuste en el tamaño del logo */
  margin: auto; /* Centra el logo horizontalmente */
}

.footer-bottom {
  border-top: 1px solid #444; /* Borde más sutil */
  padding-top: 20px;
  text-align: center;
  font-size: 0.85em;
}

.footer-bottom p {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
  }

  nav a {
    padding: 8px;
    text-align: center;
    width: 100%;
    display: block;
  }

  .services-container {
    flex-direction: column;
    align-items: center;
  }

  .service-card {
    width: 90%;
    margin: 10px 0;
  }
  .footer-container {
    flex-direction: column;
  }
  .footer-logo {
    flex-basis: auto; /* Restablece el ancho del logo */
    order: -1; /* Coloca el logo en la parte superior */
  }
  
    .footer-logo img {
      margin-bottom: 20px;
    }
}
