/* Estilos Generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1C1C1C;
    max-width: 100%; /* Asegura que el ancho no sea más que el viewport */
    overflow-x: hidden; /* Previene el desbordamiento horizontal */
  }
  
  /* Estilos para la barra de navegación */
  nav {
    background-color: #1C1C1C;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box; 
  }
  
  nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px 15px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 20px;
  }
  
  nav a:hover {
    background-color: #ff7f00;
    color: #000000;
  }
  
  .presentation-section {
    background: linear-gradient(to right, #1C1C1C 30%, #ff7f00 300%);
    color: white;
    padding: 180px 20px; 
    text-align: center;
    margin-top: -60px; 
    position: relative;
    z-index: 10;
  }
  
  
  main {
    padding: 60px 20px; 
  }
  
  .presentation-section h1 {
    font-size: 2.5em;
    margin-top: 4rem;
    margin-bottom: 0.5em;
  }
  
  .presentation-section p {
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
  }
  
  /* Estilos para las tarjetas de servicios */
.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 20px;
}

.service-card {
    margin: 20px;
    width: calc(33% - 40px);
    height: 320px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-front, .card-back {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
}

.card-front {
    background-color: #232323;
    color: #fff;
}

.card-back {
    background-color: #ad5e0e;
    color: white;
    transform: rotateY(180deg);
}

.service-card img {
    width: 80%;
    height: auto;
    margin-bottom: 15px;
}

.service-card h3 {
    margin: 10px 0;
    font-size: 1.4em;
}

.service-card p {
    font-size: 0.9em;
    text-align: center;
}

.service-card:hover .card-inner {
    transform: rotateY(180deg);
}

.service-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}
  
footer {
  background-color: #161616;
  color: #fff;
  padding: 40px 0;
  margin-top: 40px;
  font-family: 'Arial', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin-right: 20px;
  padding: 10px;
}

.footer-section h4 {
  color: #e7e7e7;
  margin-bottom: 15px;
  font-size: 1.2em;
  font-weight: bold;
}

.footer-section p {
  line-height: 1.5;
  font-size: 0.95em;
}

.footer-logo {
  align-self: center;
  flex-basis: 20%;
  text-align: center;
}

.footer-logo img {
  max-width: 100%;
  height: auto;
}

.footer-bottom {
  border-top: 1px solid #fff;
  padding-top: 20px;
  text-align: center;
  font-size: 0.85em;
}

.footer-bottom p {
  margin: 10px 0;
}
  
  /* Ajustes Responsivos */
  @media (max-width: 768px) {
    .nav-container {
      flex-direction: column;
    }
    
    nav a {
      padding: 8px;
      text-align: center;
      width: 100%;
      display: block;
    }
  
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-section {
      margin-bottom: 20px;
    }
  
    .footer-logo img {
      margin-bottom: 20px;
    }
  
    .service-card {
      width: calc(50% - 40px);
    }
  }
  
  @media (max-width: 480px) {
    .service-card {
      width: 100%; 
      margin: 20px 0; 
    }
  }
  