body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1C1C1C; /* Manteniendo el fondo negro */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff; /* Manteniendo el texto blanco */
}

.login-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidad */
    border-radius: 15px; /* Bordes más redondeados */
}

.login-form {
    padding: 3em; 
    border-radius: 10px; /* Bordes aún más redondeados */
    width: 100%;
    max-width: 400px; 
    background: linear-gradient(145deg, #232323, #1a1a1a); /* Fondo con gradiente sutil */
    border: 1px solid rgba(255, 255, 255, 0.1); /* Borde sutil */
}

.login-logo {
    width: 150px;
    margin-bottom: 2rem;
    display: block; /* Hace que el logo sea un bloque, permitiendo centrarlo */
    margin-left: auto; /* Margen automático a la izquierda */
    margin-right: auto; /* Margen automático a la derecha */
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center; /* Centrar título */
}

p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    text-align: center; /* Centrar párrafo */
}

.input-container {
    margin-bottom: 1.5rem;
}

.login-form input {
    width: 100%;
    padding: 15px; 
    border: none; /* Eliminar bordes */
    background-color: #222; /* Manteniendo el color de fondo */
    border-radius: 5px;
    color: #ddd;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.login-form input:focus {
    background-color: rgba(255, 255, 255, 0.1); /* Cambio al enfocar */
    outline: none; /* Eliminar el resaltado por defecto */
}

.login-form button {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    background-color: #ff7f00; /* Manteniendo el color naranja */
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    border: none; /* Eliminar bordes */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.login-form button:hover {
    background-color: #e76e00; /* Manteniendo el efecto hover */
}

.login-links a {
    display: block;
    margin-top: 1.5rem;
    color: #ff7f00; /* Manteniendo el color del enlace */
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 0.9rem;
    text-align: center; /* Centrar enlaces */
}

.login-links a:hover {
    color: #ffa500;
    text-decoration: underline;
}

@media (max-width: 480px) {
    .login-form {
      padding: 1.5em;
      max-width: 90%;
    }
  
    .login-form input, .login-form button {
      padding: 12px;
    }
}
